@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welkom bij Onze Applicatie</h1>
    <p>Dit is een geweldige applicatie die je helpt met [beschrijf hier de voordelen/features].</p>
    <a href="/Account/Login">Inloggen / Registreren</a>
</div>
