#preloader {
    display: none;
    background-color: #FFFFFF;
    background-image: url('images/PreloaderIMG.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 200px; /* Pas dit aan naar gewenste grootte */
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}
